/* 版心的公共类 */
.container {
  width: 1240px;
  margin: 0 auto;
}

/* -------------------快捷菜单模块：xtx-shortcut */
.xtx-shortcut {
  height: 52px;
  background-color: #333333;
}

.xtx-shortcut .container {
  height: 52px;
  /* ps */
  /* background-color: skyblue; */
}

.xtx-shortcut ul li {
  float: left;
  line-height: 52px;
  font-size: 14px;
  color: #666666;
}

.xtx-shortcut li a {
  margin: 0 16px;
  color: #dcdcdc;
}

.xtx-shortcut li:last-child a {
  margin-right: 0;
}

/* a标签hover之后的效果 */
.xtx-shortcut li a:hover {
  color: #27ba9b;
}

.xtx-shortcut li:last-child a::before {
  content: '';
  /* 为了伪元素可以设置宽高，需要转换显示方式 */
  display: inline-block;
  width: 11px;
  height: 16px;
  /* 使用margin的单方向设置 */
  margin-top: -3px;
  margin-right: 8px;
  /* background-color: red; */
  background: url('../images/sprites.png') -160px -69px;
  /* 垂直对齐方式为居中对齐 */
  vertical-align: middle;
}

/* -------------------主导航：xtx-main-nav */
.xtx-main-nav {
  height: 130px;
  /* 设置padding-top，将主导航中的所有内容都挤下去 */
  padding-top: 30px;
  /* 自动内减 */
  box-sizing: border-box;
  /* ps */
  /* background-color: pink; */
}

.xtx-main-nav .logo {
  width: 207px;
  height: 70px;
  margin-left: 25px;
  /* ps */
  /* background-color: red; */
}

.xtx-main-nav .logo a {
  display: block;
  height: 70px; 
  background: url('../images/logo.png');
  background-size: 100%;
  /* 让用户在网页中看不到a标签中的文字 */
  font-size: 0;
}

.xtx-main-nav nav {
  margin-left: 40px;
}

.xtx-main-nav nav li {
  float: left;
  height: 70px;
  margin-right: 48px;
  line-height: 70px;
}

.xtx-main-nav nav a:hover {
  color: #27ba9b;
  padding-bottom: 7px;
  border-bottom: 1px solid #53af9b;
}

.xtx-main-nav .search {
  position: relative;
  margin-top: 24px;
  margin-left: 34px;
}

.xtx-main-nav .search::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 4px;
  width: 18px;
  height: 18px;
  /* ps */
  /* background-color: red; */
  background: url('../images/sprites.png') -80px -70px;
}

.xtx-main-nav .search input {
  width: 172px;
  height: 30px;
  padding-left: 31px;
  border-bottom: 2px solid #e7e7e7;
}

.xtx-main-nav .cart {
  position: relative;
  width: 23px;
  height: 23px;
  /* ps */
  /* background-color: red; */
  background: url('../images/sprites.png') -120px -70px;
  margin-top: 28px;
  margin-left: 15px;
}

.xtx-main-nav .cart span {
  position: absolute;
  right: -12px;
  top: -5px;
  width: 20px;
  height: 15px;
  background-color: #e26237;
  color: #fff;
  font-size: 13px;
  text-align: center;
  line-height: 15px;
  border-radius: 7px;
}

/* -------------------宣传服务：xtx-copyright */
.xtx-service {
  height: 174px;
  background-color: #333;
}

.xtx-service .container {
  width: 1393px;
  height: 173px;
  /* ps */
  /* background-color: pink; */
  border-bottom: 1px solid #434343;
}

.xtx-service a {
  position: relative;
  float: left;
  width: 33.33%;
  height: 173px;
  /* background-color: skyblue; */
  font-size: 28px;
  color: #fff;
  text-align: center;
  line-height: 173px;
}

.xtx-service a::before {
  display: inline-block;
  content: '';
  width: 58px;
  height: 58px;
  margin-right: 19px;
  /* background-color: pink; */
  background: url('../images/sprites.png') 0 0;
  vertical-align: middle;
}

.xtx-service a:nth-child(2)::before {
  background-position: -130px 0;
}

.xtx-service a:nth-child(3)::before {
  background-position: -65px 0;
}


/* -----------------版权信息：xtx-copyright */
.xtx-copyright {
  height: 169px;
  background-color: #333;
}

.xtx-copyright .container {
  height: 169px;
  /* 设置padding-top将内部内容挤下去 */
  padding-top: 41px;
  /* 自动内减 */
  box-sizing: border-box;
  /* ps */
  /* background-color: pink; */
  text-align: center;
}


.xtx-copyright .container p {
  color: #999999;
  font-size: 14px;
}

.xtx-copyright .container p:first-child {
  height: 35px;
}

.xtx-copyright .container a {
  color: #999999;
}
