<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      table {
          border-collapse: collapse;
          /*  text-align:会继承 */
          /* text-align: center; */
      }

      thead {
          background-color: #f5f5f5;
      }

      th, td {
          border: 1px solid #aaa;
          padding: 8px 16px;
      }

      .active {
        background-color: skyblue;
      }
  </style>
</head>
<body>

  <div id="app">
    <!-- 1.搭建界面内容 -->
    <!-- books.length为零就是false -->
    <template v-if="books.length">
      <table>
        <thead>
            <tr>
                <th>序号</th>
                <th>书籍名称</th>
                <th>出版日期</th>
                <th>价格</th>
                <th>购买数量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in books" :key="item.id" @click="rowClick(index)" 
              :class="{ active: index === currentIndex }">
            <td>{{ index + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.date }}</td>
            <td>{{ formatPrice(item.price) }}</td>
            <td>
              <!-- 动态绑定，符合条件的时候就绑定 -->
              <!-- <button v-bind:disabled="item.count <= 1" @click="decrement(index, item)">-</button> -->
              <button :disabled="item.count <= 1" @click="decrement(index, item)">-</button>
              {{ item.count}}
              <button @click="increment(index, item)">+</button>
            </td>
            <td>
              <button @click="removeBook(index, item)">移除</button>
            </td>
          </tr>
        </tbody>
      </table>

      <h2> 总价：{{ formatPrice(totalPrice) }} </h2>
    </template>

    <template v-else>
      <h1>购物车为空，请添加喜欢的书籍~</h1>
      <p>商场中有大量的IT类的书籍，请选择添加学习，注意保护好自己的头发</p>
    </template>
  </div>

  <script src="../lib/vue.js"></script>
  <script src="./data/data.js"></script>
  <script>
    console.log(books)
    // 1.创建app
    const app = Vue.createApp({
      // data: option api
      data() {
        return { 
          books: books,
          // es6对象的增强写法
          // books

          currentIndex: 0
        }
      },

      computed: {
        totalPrice() {
          // 1.直接遍历books
          // let price = 0
          // for (const item of this.books) {
          //   price += item.price * item.count
          // }
          // return price

          // 2.reduce()
          // 0是初始化的值
          // 计算属性只要依赖的变了，这里就会侦听到
          return this.books.reduce((preValue, item) => {
            return preValue + item.price * item.count
          }, 0)
        }
      },
      methods: {
        formatPrice(price) {
          return "¥" + price
        },
        decrement(index, item) {
          console.log("点击了-", index)
          this.books[index].count--
        },
        increment(index, item) {
          console.log("点击了+", index)
          // 这里数据变了，data()的books也会变
          // 方法1
          // this.books[index].count++
          // 方法2
          item.count++

        },
        removeBook(index, item) {
          // splice(从第几条开始移除，移除多少数据)
          this.books.splice(index, 1)

        },
        rowClick(index) {
          this.currentIndex = index
        }
      }


    })

    // 2.挂载app
    app.mount("#app")
  </script>
</body>
</html>
<!-- https://snippet-generator.app/在该网站中生成代码片段 -->