/* 版心 */
.container {
  width: 1240px;
  margin: 0 auto;
}

/* ---------------------------xtx-shortcut部分的样式 */
.xtx-shortcut {
  height: 52px;
  background-color: #333333;
}

.xtx-shortcut .container {
  height: 52px;
  /* ps */
  /* background-color: pink; */
}

.xtx-shortcut .container li {
  float: left;
  line-height: 52px;
  color: #666;
}

.xtx-shortcut .container a {
  margin: 0 16px ;
  color: #dcdcdc;
  font-size: 14px;
}

.xtx-shortcut a:hover {
  color: #27ba9b;
}


.xtx-shortcut li:last-child a {
  margin-right: 0;
}

.xtx-shortcut .mobile::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 20px;
  margin-right: 6px;
  background: url('../images/sprites.png') -160px -70px;
  vertical-align: middle;
}

/* ------------------------xtx-main-nav的样式 */
.xtx-main-nav {
  height: 100px;
  padding-top: 30px;
  /* ps */
  /* background-color: pink; */
}

.xtx-main-nav .logo {
  width: 207px;
  height: 70px;
  margin-right: 40px;
  /* ps */
  /* background-color: skyblue; */
}

.xtx-main-nav .logo a {
  display: block;
  width: 100%;
  height: 100%;
  /* ps */
  /* background-color: purple; */
  background: url('../images/logo.png');
  background-size: 100%;
  font-size: 0;
}

.xtx-main-nav li {
  float: left;
  margin-right: 48px;
  line-height: 70px;
}

.xtx-main-nav li:last-child {
  margin-right: 84px;
}

.xtx-main-nav li a:hover {
  padding-bottom: 7px;
  border-bottom: 1px solid #27ba9b;
  color: #27ba9b;
}

.xtx-main-nav .search {
  position: relative;
  width: 172px;
  height: 31px;
  margin-top: 23px;
  /* ps */
  /* background-color: pink; */
}

.xtx-main-nav .search::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background: url('../images/sprites.png') -79px -69px;
}

.xtx-main-nav .search input {
  width: 172px;
  height: 30px;
  border-bottom: 2px solid #e7e7e7;
  padding-left: 31px;
}

.xtx-main-nav .cart {
  position: relative;
  width: 23px;
  height: 23px;
  margin-top: 27px;
  margin-left: 15px;
  background: url('../images/sprites.png') -119px -69px;
}

.xtx-main-nav .cart span {
  position: absolute;
  top: -5px;
  right: -12px;
  width: 20px;
  height: 14px;
  background-color: #e26237;
  font-size: 13px;
  text-align: center;
  line-height: 14px;
  color: #fff;
  border-radius: 7px;
}

/* ----------------------------xtx-contact的样式 */
.xtx-contact {
  height: 302px;
}

.xtx-contact .container {
  height: 320px;
  padding-top: 70px;
  /* 自动内减 */
  box-sizing: border-box;
  /* ps */
  /* background-color: pink; */
}

.xtx-contact .container dl {
  float: left;
  width: 25%;
  height: 192px;
  /* 让行内块的dd元素水平居中 */
  text-align: center;
  /* 自动内减 */
  box-sizing: border-box;
  /* ps */
  /* background-color: skyblue; */
  /* 设置行高为1，完成精准布局 */
  line-height: 1;
}

.xtx-contact .container dt {
  height: 51px;
  margin-top: 8px;
  color: #999999;
}


/* 将dd统一设置为行内块元素 */
.xtx-contact .container dd {
  display: inline-block;
  vertical-align: top;
}

/* ----------------客户服务部分 */
.xtx-contact .customer dd {
  width: 93px;
  height: 92px;
  border: 1px solid #eeeeee;
  color: #999999;
  font-size: 14px;
  cursor: pointer;
}

.xtx-contact .customer .chat {
  margin-right: 6px;
}

.xtx-contact  .chat::before {
  content: '';
  display: block;
  width: 29px;
  height: 27px;
  margin: 22px auto 10px;
  background: url('../images/sprites.png') -205px -70px;
}

.xtx-contact .chat:hover::before {
  background-position: -250px -70px;
}

.xtx-contact .customer .feedback::before {
  content: '';
  display: block;
  width: 29px;
  height: 28px;
  margin: 23px auto 8px;
  background: url('../images/sprites.png') -300px -70px;
}

.xtx-contact .customer .feedback:hover::before {
  background-position: -350px -70px;
}

/* ----------------------关注我们部分 */
.xtx-contact .follow dd {
  width: 93px;
  height: 92px;
  border: 1px solid #eeeeee;
  color: #999999;
  font-size: 14px;
  cursor: pointer;
}

.xtx-contact .follow .weixin {
  margin-right: 6px;
}

.xtx-contact .follow .weixin::before {
  content: '';
  display: block;
  width: 36px;
  height: 29px;
  margin: 23px auto 8px;
  background: url('../images/sprites.png') -204px -14px;
}

.xtx-contact .follow .weixin:hover::before {
  background-position: -249px -14px;
}

.xtx-contact .follow .weibo::before {
  content: '';
  display: block;
  width: 36px;
  height: 29px;
  margin: 23px auto 8px;
  background: url('../images/sprites.png') -299px -14px;
}

.xtx-contact .follow .weibo:hover::before {
  background-position: -349px -14px;
} 

/* ----------------------下载APP部分 */
.xtx-contact .download {
  border-right: 1px solid #f4f4f4;
}

.xtx-contact .download .qrcode {
  width: 116px;
  height: 116px;
  border: 1px solid #eeeeee;
  padding: 7px;
  margin-right: 22px;
  /* 自动内减 */
  box-sizing: border-box;
}

.xtx-contact .qrcode img {
  width: 100%;
  height: 100%;
}

.xtx-contact .info {
  font-size: 14px;
  color: #999999;
  text-align: left;
}

.xtx-contact .info p:nth-child(1) {
  height: 22px;
  margin-top: 13px;
}

.xtx-contact .info p:nth-child(2) {
  height: 33px;
} 

.xtx-contact .info a {
  display: block;
  width: 103px;
  height: 32px;
  background-color: #27ba9b;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
}

/* ----------------------服务热线 */
.xtx-contact .tel dt {
  height: 74px;
}

.xtx-contact .hotline p:nth-child(1) {
  height: 34px;
  font-size: 22px;
  color: #666666;
}

.xtx-contact .hotline p:nth-child(2) {
  color: #999999;
  font-size: 14px;
}

/* ---------------------------xtx-service的样式 */
.xtx-service {
  height: 172px;
  background-color: #333;
}

.xtx-service .container {
  height: 171px;
  border-bottom: 1px solid #434343;
}

.xtx-service .container a {
  float: left;
  width: 33.33%;
  height: 171px;
  /* ps */
  /* background-color: skyblue; */
  color: #fff;
  font-size: 28px;
  text-align: center;
  line-height: 171px;
}

.xtx-service .container a::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 58px;
  height: 58px;
  margin-right: 19px;
  /* ps */
  /* background-color: red; */
  background: url('../images/sprites.png') 0 0;
}

.xtx-service a:nth-child(2):before {
  background-position: -131px 0;
}

.xtx-service a:nth-child(3):before {
  background-position: -65px 0;
}

/* -----------------------------xtx-copyright的样式 */
.xtx-copyright {
  height: 169px;
  padding-top: 41px;
  /* 自动内减 */
  box-sizing: border-box;
  background-color: #333;
  text-align: center;
  color: #999999;
  font-size: 14px;
  line-height: 1;
}

.xtx-copyright p:nth-child(1) {
  height: 35px;
}

.xtx-copyright p:nth-child(1) a {
  color: #999999;
}
