<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>标题</title>

    </head>
    <body>
        <div id="container" style="width:500px">
            <div id="header" style="background-color:#FFA500">
                <h1 style="margin: bottom 0;">主要的网页标题</h1>
            </div>
            <div id="menu" style="background-color: #FFD700;height: 200px;width: 100px;float: left;">
                <b>菜单</b><br>
                HTML<bt>
                CSS<br>
                JaveScript
            </div>
            
            <div id="content" style="background-color:#EEEEEE;height:200px;width:400px;float:left;">内容在这里</div>

            <div id="footer" style="background-color:#FFA500;clear: both;text-align: center;">版权 © runoob.com</div>

        </div>

        <!-- 表单 -->
        <hr>
        <form action="">
            Username:<input type="text" name="user"><br>
            Password:<input type="password" name="passwoed"><br>
            <!-- 提交按钮（Submit） -->
            <input type="submit" value="Submit"><br>
            <!-- 单选按钮（Radio Buttons） -->
            <input type="radio" name="sex" value="male">男<br>
            <input type="radio" name="sex" value="female">女<br>
            <!-- 复选框（checkboxes） -->
            <input type="checkbox" name="vehicle" value="Bike">喜欢自行车<br>
            <input type="checkbox" name="vehicle" value="Car">喜欢汽车<br>
        </form>
    </body>
</html>