* {
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
}
body {
  font-family: 微软雅黑, 宋体, SimSun, 黑体, SimHei;
  color: #000000;
}
a {
  text-decoration: none;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;
}
thead {
  font-weight: bold;
  font-size: 14px;
}
td {
  padding: 10px 10px;
}
td.center {
  text-align: center;
}
.wrapper {
  width: 1240px;
  margin: 0 auto;
}
.title {
  padding: 20px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
}
