.carousel img {
  height: 100%!important;
}
@media (max-width: 992px) {
  .carousel .item {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .carousel .item {
    height: 250px;
  }
}
@media (min-width: 992px) {
  .carousel .item {
    height: 500px;
  }
}
.navbar-default {
  background-color: transparent;
  border: 0;
}
.navbar-default .navbar-collapse li a {
  color: hsla(0, 0%, 100%, 0.65);
}
.navbar-default .navbar-collapse li:first-child a {
  color: #f2b535;
}
.navbar-default .navbar-collapse li:hover a {
  color: #f2b535;
}
.project {
  padding-top: 30px;
  text-align: center;
}
.project .container div a {
  display: block;
  padding: 20px 10px;
  margin-bottom: 15px;
  height: 180px;
  background-color: #70c3ff;
  border-radius: 4px;
  color: #fff;
}
a {
  text-decoration: none!important;
}
