.wrapper {
    width: 1240px;
    margin: 0 auto;
}

.shortcut {
    height: 52px;
    /* background-color: pink; */
    background-color: #333333;
    line-height: 52px;
}

.shortcut .wrapper ul {
    float: right;
}

.shortcut .wrapper li {
    float: left;
}

.shortcut .wrapper a {
    padding-right: 18px;
    padding-left: 18px;
    font-size: 12px;
    color: #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

/* ! */
.shortcut .wrapper li:last-child a {
    border-right: 0;
}

.shortcut .wrapper a span {
    display: inline-block;
    margin-right: 8px;
    width: 11px;
    height: 16px;
    /* background-color: pink; */
    background-image: url(../images/sprites.png);
    background-position: -160px -70px;
    vertical-align: middle;
}

/* ! */
.header {
    margin: 30px auto;
    height: 70px;
    /* background-color: pink; */
}

/* ! */
.logo {
    float: left;
    width: 208px;
    height: 70px;
}

.header .logo a {
    display: block;
    width: 208px;
    height: 70px;
    /* background-color: pink; */
    background-image: url(../images/logo.png);
    background-size: contain;
    font-size: 0;
}

/* x */
/* .header .logo h1 {
    float: left;
    width: 208px;
    height: 70px;
    background-color: pink;
    background-image: url(../images/logo.png);
    background-size: contain;
    font-size: 0;
} */

.header .nav {
    float: left;
    height: 70px;
    margin-left: 40px;
}

.header .nav li {
    float: left;
    margin-right: 47px;
    line-height: 70px;
}

.header .nav a {
    padding-bottom: 7px;
}

.header .nav a:hover {
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
}

.search {
    position: relative;
    float: left;
    margin-top: 24px;
    margin-left: 48px;
    width: 172px;
    height: 30px;
    /* background-color: pink; */
    border-bottom: 2px solid #e7e7e7;
}

.search input {
    padding-left: 30px;
    width: 172px;
    height: 28px;
}

.search input::placeholder {
    font-size: 14px;
    color: #ccc;
}

.search span {
    position: absolute;
    left: 2px;
    top: 0px;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprites.png);
    background-position: -80px -70px;
}

.car {
    position: relative;
    float: left;
    margin-top: 24px;
    margin-left: 15px;
    width: 23px;
    height: 23px;
    background-image: url(../images/sprites.png);
    background-position: -119px -69px;
}

.car span {
    position: absolute;
    right: -13px;
    top: -6px;
    width: 20px;
    height: 15px;
    background-color: #e26237;
    border-radius: 8px;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
}

/* footer */
.footer {
    height: 341px;
    background-color: #333;
}

.footer .top {
    padding: 58px 112px 55px;
    width: 1241px;
    height: 171px;
    border-bottom: 1px solid #434343;
}

.footer .top li {
    position: relative;
    float: left;
    margin-right: 210px;
    width: 196px;
    height: 60px;
    line-height: 60px;
    /* background-color: pink; */
}

.footer .top li:last-child {
    margin-right: 0;
}

.footer .top li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 58px;
    height: 58px;
    /* background-color: pink; */
    background-image: url(../images/sprites.png);
}

.footer .top span {
    margin-left: 77px;
    font-size: 28px;
    color: #fff;
}

.footer .top li:nth-child(2)::before {
    background-position: -65px 0;
}

.footer .top li:nth-child(3)::before {
    background-position: -130px 0;
}

.footer .bottom {
    padding: 40px;
    color: #999;
    font-size: 14px;
    text-align: center;
}

.footer .bottom a {
    color: #999;
    font-size: 14px;
}

.footer .bottom p {
    margin-bottom: 20px;
}
