body {
    background-color: #f3f5f7;
    /* background-color: pink;s */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* 版心 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
    /* background-color: red; */
}


/* 头部 */
.header {
    height: 42px;
    margin: 30px auto;
    /* background-color: pink; */
}

/* logo */
h1 {
    float: left;
}

/* 导航 */
.nav {
    float: left;
    height: 40px;
    margin-left: 70px;
}

.nav li {
    float: left;
    margin-right: 26px;
}

.nav li a {
    display: block;
    padding: 0 9px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #050505;
}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

/* 搜索 */
.search {
    float: left;
    margin-left: 59px;
    width: 412px;
    height: 42px;
    border: 1px solid #00a4ff;
}

.search input {
    float: left;
    padding-left: 20px;
    width: 360px;
    height: 40px;
    border: 0;
}

.search input::placeholder {
    font-size: 14px;
    color: #bfbfbf;

}

.search button {
    float: left;
    width: 50px;
    height: 40px;
    border: 0;
    background-image: url(../images/btn.png);
}

.user {
    float: right;
    margin-right: 35px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.user img {
    vertical-align: middle;
}

/* 轮播 */
.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .wrapper {
    height: 420px;
    background-image: url(../images/banner2.png);
}

/* 轮播左 */
.banner .left {
    float: left;
    padding: 0 20px;
    width: 190px;
    height: 420px;
    background-color: #13014b;
    line-height: 44px;
}

.banner .left a {
    font-size: 14px;
    color: #fff;
}

.banner .left a:hover {
    color: #00a4ff;
}

.banner .left span {
    float: right;
}

/* 轮播右 */
.banner .right {
    float: right;
    margin-top: 50px;
    width: 228px;
    height: 300px;
    background-color: #fff;
}

.banner .right h2 {
    font-size: 18px;
    color: #fff;
    line-height: 48px;
    background-color: #00a4ff;
    font-weight: 400;
    text-align: center;
}

.banner .content {
    padding: 0 19px;
}

.banner .content dl {
    padding: 12px 0;
    border-bottom: 2px solid #e5e5e5;
}

.banner .content dt {
    font-size: 16px;
    color: #4e4e4e;
}

.banner .content dd {
    font-size: 14px;
    color: #4e4e4e;
}

.banner .right .more {
    width: 200px;
    height: 41px;
    display: block;
    margin: 4px auto;
    text-align: center;
    line-height: 41px;
    border: 1px solid #00a4ff;
    font-size: 16px;
    font-weight: 700;
    color: #00a4ff;
}

.goods {
    height: 60px;
    margin-top: 8px;
    padding-left: 34px;
    padding-right: 26px;
    background-color: #fff;
    box-shadow: 0px 2px 3px 0px 
    rgba(118, 118, 118, 0.2);
    line-height: 60px;
}

.goods h2 {
    float: left;
    margin-right: 34px;
    font-weight: 400;
    font-size: 16px;
    color: #00a4ff;
}

.goods li {
    float: left;
}

.goods li a {
    padding: 0 34px;
    border-left: 1px solid #bfbfbf;
    color: #050505;
    font-size: 16px;
}

.goods .xingqu {
    float: right;
    font-size: 14px;
    color: #00a4ff;
}

/* 精品推荐 */
.box {
    margin-top: 36px;
}

.box .title {
    height: 41px;
}

.box .title h2 {
    float: left;
    font-size: 20px;
    font-weight: 400;
}

.box .title a {
    float: right;
    margin-right: 35px;
    font-size: 12px;
    color: #a5a5a5;
}

.box .content li {
    position: relative;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 225px;
    height: 270px;
    background-color: #fff;
}

.box .content .hot {
    position: absolute;
    top: 4px;
    right: -6px;
}

.box .content li:nth-child(5n) {
    margin-right: 0;
}

.box .content h3 {
    font-size: 14px;
    margin: 20px;
    font-size: 14px;
    color: #606060;
}

.box .content p {
    margin: 0 20px;
    font-size: 12px;
    color: #999999;
}

.box .content span {
    font-size: 14px;
    color: #ff7c2d;
}

/* 脚 */
.footer {
    height: 417px;
    /* background-color: pink; */
    background-color: #ffffff;
    margin-top: 40px;
    padding: 30px;
}

.footer .left {
    float: left;
    width: 462px;
}

.footer .left img {
    margin-bottom: 25px;
}

.footer .left p {
    color: #666666;
    font-size: 12px;
}

.footer .left a {
    display: block;
    margin-top: 15px;
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: #00a4ff;
    border: 1px solid #00a4ff;
}

.footer .right {
    float: right;
}

.footer .right dl {
    float: left;
    margin-left: 120px;
}



